@page "/characters"
@using Unstickd.Models
@inject StoryState StoryState

<PageTitle>Characters</PageTitle>

<h3><i class="bi bi-person me-2"></i>Characters</h3>

<EntityList NotebookTypeName="Characters" />
